Repository CMPUT404-wi21-project/CMPUT404-project-socialdistribution, pull requests merged in 2021-02, with the labels that each got.

#32 feat: added routing, made a base page
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/EntryCard.jsx
  frontend/src/components/LoginForm.jsx
  frontend/src/components/RegisterForm.jsx
  frontend/src/components/Response.jsx
  frontend/src/containers/layout.js
  frontend/src/logo.svg
  frontend/src/pages/homepage.jsx
  frontend/src/pages/landing.jsx
  frontend/src/pages/notfound.jsx
  frontend/src/routes.jsx
  frontend/src/svc/UserSvc.js
Labels: Frontend User

#30 be able to make public post in plain text now
  backend/api/models/post.py
  backend/api/serializers.py
  backend/api/urls.py
  backend/api/views/simplePostView.py
  backend/socialdistribution/settings.py
Labels: Backend Post

#35 refactored backend logic
  backend/api/services/postServices.py
  backend/api/services/readme.MD
  backend/api/urls.py
  backend/api/views/simplePostView.py
Labels: Backend Post

#41 refactor for two servers
  Makefile
  backend/Procfile
  backend/readme.md
  backend/requirements.txt
  backend/socialdistribution/settings.py
  frontend/yarn.lock
  server_instruction/Readme.MD
Labels: 1, Server

#47 minor fix for server
  backend/runtime.txt
  backend/socialdistribution/settings.py
  frontend/.dockerignore
  frontend/readme.md
  frontend/src/actions/authActions.js
  server_instruction/Readme.MD
Labels: Server

#49 Author backend api
  backend/api/adminViews/adminListView.py
  backend/api/models/author.py
  backend/api/models/signupRequest.py
  backend/api/serializers.py
  backend/api/services/adminActions.py
  backend/api/services/authorServices.py
  backend/api/urls.py
  backend/api/views/author.py
  backend/socialdistribution/settings.py
Labels: Backend User
